/*.Select-control {*/
/*    background-color: #222 !important;*/
/*}*/

/*.Select.is-focused > .Select-control {*/
/*    background-color: #222;*/
/*}*/

/*#school-input {*/
/*    color: white;*/
/*}*/

/*.Select-value-label {*/
/*    color: white;*/
/*}*/

/*.Select--single > .Select-control .Select-value, .Select-placeholder {*/
/*    border: 1px solid grey;*/
/*    border-radius: 4px;*/
/*}*/

/*.VirtualizedSelectOption {*/
/*    background-color: #222;*/
/*    color: white;*/
/*}*/

/*.VirtualizedSelectFocusedOption {*/
/*    background-color: #222;*/
/*    opacity: .7;*/
/*}*/

/*.Select.is-focused:not(.is-open) > .Select-control {*/
/*    background-color: #222;*/
/*    border-color: var(--primary);*/
/*    box-shadow: none;*/
/*}*/

/*.Select input{*/
/*    color:white;*/
/*}*/

/* input box */
.Select-control {
    background-color: black;
}


/* changes the text color of input box */
.Select-value-label {
    color: white !important;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
    border: 1px solid grey;
    border-radius: 4px;
}


/* dropdown menu options */
.VirtualizedSelectOption {
    background-color: black;
    color: white;
}


/* dropdown menu hover effect */
.VirtualizedSelectFocusedOption {
    background-color: black;
    opacity: .7;
}


/* border on focus - default is blue
 * shadow box around input box.  default is blue
 */
.is-focused:not(.is-open) > .Select-control {
    border-color: var(--primary);
    box-shadow: none;
}


/* this colors the input box text and x  of multi dropdown*/
.Select--multi .Select-value {
    color: white;
}

.has-value.Select--single > .Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
    color: #ffffff;
}