{% extends "core/base.html" %}
{% load static %}
{% load plotly_dash %}
{% block header %}

    {% plotly_header %}
    {% plotly_message_pipe %}
    <link rel="stylesheet" type="text/css" href="{% static "dengue/css/main.css" %}"></link>
{% endblock %}

{% block title %}Series{% endblock %}

{% block content %}
    <div class="card border-dark">
        <div class="card-body">
            <div class="{% plotly_class name="dengue_series" template_type="div-direct" %}">
                {% plotly_direct name="dengue_series" %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% plotly_footer %}
{% endblock %}