h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #aaa;
}

#container {
    margin: auto;
    width: 60%;
    padding: 10px;
}

p {
    color: #aaa;
    text-align: justify;
    text-justify: inter-word;
}