.Select-control {
    background-color: #222 !important;
}

.Select.is-focused > .Select-control {
    background-color: #222;
}

#school-input {
    color: white;
}

.Select-value-label {
    color: white;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
    border: 1px solid grey;
    border-radius: 4px;
}

.VirtualizedSelectOption {
    background-color: #222;
    color: white;
}

.VirtualizedSelectFocusedOption {
    background-color: #222;
    opacity: .7;
}

.Select.is-focused:not(.is-open) > .Select-control {
    background-color: #222;
    border-color: var(--primary);
    box-shadow: none;
}

.Select input {
    color: white;
}

.has-value.Select--single > .Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
    color: #ffffff;
}


.DateRangePickerInput {
    background-color: #222222;
    border: 1px solid grey;
}

.DateInput_input {
    background-color: #222222;
    color: white;

}

.custom-tabs-container {
    width: 100%;
}

.custom-tabs {
    /*border-top-left-radius: 3px;*/
    background-color: #222222;
    /*padding: 0px 24px;*/
    /*border-bottom: 1px solid #d6d6d6;*/
}

.custom-tab {
    color: black;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top: 3px solid transparent !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
    background-color: grey;
    /*padding: 12px !important;*/
    /*font-family: "system-ui";*/
    font-weight: bold;
    display: flex !important;
    /*align-items: center;*/
    /*justify-content: center;*/
}

.custom-tab--selected {
    color: black;
    background-color: grey;
    box-shadow: 1px 1px 0px white;
    border-left: 1px solid lightgrey !important;
    border-right: 1px solid lightgrey !important;
    border-top: 3px solid #e36209 !important;
}